<phpunit colors="true" verbose="true" bootstrap="vendor/autoload.php">
	<testsuite name="tests">
		<directory>tests</directory>
	</testsuite>
    <extensions>
        <extension class="\acdhOeaw\acdhRepo\tests\Bootstrap"/>
    </extensions>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
